Core/build/
Core/src/ORB_SLAM2_m/build/
Core/src/ORB_SLAM2_m/Thirdparty/DBoW2/build/
Core/src/ORB_SLAM2_m/Thirdparty/DBoW2/lib/
Core/src/ORB_SLAM2_m/Thirdparty/g2o/build/
Core/src/ORB_SLAM2_m/Thirdparty/g2o/lib/
Core/src/ORB_SLAM2_m/Examples/
Core/src/ORB_SLAM2_m/Vocabulary/
Core/src/ORB_SLAM2_m/lib/
GPUTest/build/
GUI/build/
GUI/Dataset/
GUI/tmp_data/
deps/
.project
.cproject
*.user
.idea/
.vscode/




